@{
    ViewData["Title"] = "Posts";
}

<div class="container">
    <div class="text-center d-block" style="padding: 20px;"><h2>Posts</h2></div>
</div>

@{ await Html.RenderPartialAsync("Partials/Posts"); }
@{ await Html.RenderPartialAsync("Partials/ViewPost", ViewData["post"] as Post); }