
@{
    ViewData["Title"] = "Posts";
}

<h2>Posts</h2>

@if (ViewData["post_id"] != null)
{
    @:<p>Post id: @ViewData["post_id"]</p>
}
else
{
    @:<p>no post id</p>
}

@{ await Html.RenderPartialAsync("Partials/PostForm", new Post()); }
@{ await Html.RenderPartialAsync("Partials/Posts"); }