@{
    ViewData["Title"] = "Posts";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding: 0 0 20px 0;">
            <a asp-controller="Blog" asp-action="Get" class="secret-link"><h1><span class="display-3 font-weight-light">wiki</span><span class="display-1 font-weight-bold">Blog</span></h1></a>
            <p class="text-muted">Make a post. Click a post to <span class="text-danger">tamper</span> with it.</p>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("Partials/Posts"); }
@{ await Html.RenderPartialAsync("Partials/ViewPost", ViewData["post"] as Post); }

<script>
    $(document).ready(function () {
        $(".card").each(function (i, d) {
            $(d).emoji();
        });
    });
</script>

<script src="~/js/realtimeposts.js"></script>