<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>WikiBlog - @ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
</body>
</html>
