@model WikiBlog.Models.Post

<div id="NewPostCard" class="card">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Make a post</h5>
        <hr>
        <!-- <form asp-action="Post"> -->
        <form asp-action="Post" id="HiddenNewPostForm" style="display: none;"></form>
        <div id="NewPostForm">
            <div class="form-group">
                <input asp-for="Title" id="NewPostTitle" class="form-control" type="text" placeholder="Title" required />
            </div>
            <div class="form-group">
                <input asp-for="Author" id="NewPostAuthor" class="form-control" type="text" placeholder="Author" required />
            </div>
            <div class="form-group">
                <textarea asp-for="Content" id="NewPostContent" class="form-control" placeholder="Content" required></textarea>
            </div>
            <div class="form-group">
                <button id="NewPostButton" class="btn btn-primary btn-block" type="submit">Post</button>
                <button class="btn btn-primary btn-block" type="reset">Clear</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
